.online-fill, .online-fill-step2, .online-fill-step3, .online-fill-step35, .online-fill-step4, .online-fill-step5 {
    h2 {
        padding: 0 145px;
        line-height: 30px;
    }
}

.online-fill {
    .form-box {
        background-color: #f0f1f2;
        padding: 0 20px;

        .box {
            float: left;
            position: relative;
        }

        &.first {
            margin-bottom: 10px;
            padding-bottom: 20px;

            .radio-buttons {
                text-align: left;
            }

            .box {
                width: 440px;

                > span {
                    display: block;
                    font-size: 14px;
                    padding-bottom: 20px;
                }
            }

            .form-control {
                float: left;

                &:nth-of-type(3) {
                    .box {
                        margin-left: 20px;
                        width: 226px;
                    }
                }

                &:nth-of-type(4), &:nth-of-type(5) {
                    .box:last-child {
                        margin-left: 20px;
                    }
                }

                &:nth-of-type(5) .box:last-child {
                    width: 220px;
                }
            }
        }

        &.second {
            padding-bottom: 35px;
            margin-bottom: 10px;

            .box {
                width: 440px;

                &:last-child {
                    margin-left: 20px;
                }
            }
        }

        &.third {
            background-color: #0d6aa2;
            color: #fff;
            margin-bottom: 40px;
            padding-bottom: 40px;

            .first {
                .info-popup a {
                    right: 161px;
                }

                .popup {
                    right: 140px;
                }
            }

            .second {
                .info-popup a {
                    right: 111px;
                }

                .popup {
                    right: 91px;
                }
            }

            .third {
                .info-popup a {
                    right: 67px;
                }

                .popup {
                    right: 47px;
                }
            }

            .info-popup a {
                background: #fff url("../images/base/i-blue.png") no-repeat center;
                top: 1px;
            }

            .popup {
                bottom: 40px;
                background-color: #fff;
                border: solid 1px #d5d8db;
                color: #555555;
                text-align: left;

                &:after {
                    border-color: #fff transparent transparent transparent;
                }
            }

            .sub-title {
                color: #fff;
            }

            .form-box-title {
                color: #fff;
                background-color: rgba(0, 122, 195, 0);
                box-shadow: 0 1px #d9dadb;
                background-image: linear-gradient(to right, #007ac3 40%, #06b0e4);
            }
        }
    }

    .noUi-origin {
        background-color: #003f65;
    }

    .sliders > div:after {
        background-color: #003f65;
    }

    .sliders > div:before, .noUi-base {
        background-color: #6fc9ff;
    }

    .noUi-handle {
        background-color: #003f65;
        border: solid 2px #fff;
    }

    .prize-1:after, .prize-2:after, .prize-3:after {
        color: #fff;
    }

    .little-ones {
        div {
            background-color: #003f65;
        }
    }
}

.online-fill-step2 {
    .form-box {
        background-color: #f0f1f2;
        padding: 0 20px;

        .box {
            float: left;
            position: relative;
        }

        &.first {
            padding-bottom: 35px;
            margin-bottom: 10px;

            .form-control {
                &:nth-of-type(2) {
                    .box {
                        width: 440px;
                    }
                }

                &:nth-of-type(3) {
                    .box {
                        position: relative;

                        input {
                            width: 220px;
                            float: left;
                        }

                        span {
                            font-weight: 700;
                            font-size: 24px;
                            float: left;
                            line-height: 54px;
                            padding-left: 20px;
                        }
                    }
                }

                &:nth-of-type(4) {
                    .box:first-child {
                        width: 440px;
                        margin-right: 20px;
                    }

                    .box {
                        width: 133px;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .hidden {
            .form-control {
                &:first-child(1) {
                    .box {
                        width: 440px;
                    }
                }

                &:nth-child(2) {
                    .box {
                        position: relative;

                        input {
                            width: 220px;
                            float: left;
                        }

                        span {
                            font-weight: 700;
                            font-size: 24px;
                            float: left;
                            line-height: 54px;
                            padding-left: 20px;
                        }
                    }
                }

                &:last-child {
                    .box:first-child {
                        width: 440px;
                        margin-right: 20px;
                    }

                    .box {
                        width: 133px;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        &.second {
            padding-bottom: 35px;
            margin-bottom: 40px;

            .form-control {
                margin-top: 50px;

                .box {
                    width: 440px;

                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .hidden {
        display: none;
    }
}

.online-fill-step3 {
    .form-box {
        background-color: #f0f1f2;
        padding: 20px 20px 40px;
        margin-bottom: 35px;
    }

    .radio-buttons {
        text-align: left;
    }

    .box {
        float: left;
    }

    .form-control {
        span {
            padding-bottom: 10px;
            display: block;
        }

        &:first-child, &:last-child {
            margin-bottom: 40px;

            .box {
                width: 440px;

                &:first-child {
                    margin-right: 20px;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .radio-buttons input[type=radio].css-checkbox + label.css-label {
        display: block;
        margin-bottom: 10px;
    }
}

.online-fill-step35 {
    .form-box {
        background-color: #f0f1f2;
        padding: 20px 20px 40px;
        margin-bottom: 35px;
    }

    .form-control {
        > span {
            padding-bottom: 10px;
            display: block;
            position: relative;

            .info-popup a {
                right: 47.5%;
                top: 0;
            }

            .popup {
                bottom: 52px;
                right: 44.7%;
            }
        }

        .box {
            float: left;
            position: relative;

            > span {
                display: block;
                position: absolute;
                top: 25px;
                line-height: 50px;
                left: 140px;
            }
        }

        &:first-child {
            margin-bottom: 40px;

            .box {
                width: 440px;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                    width: 133px;
                }
            }
        }

        &:nth-child(2) {
            margin-bottom: 40px;

            .box {
                &:first-child {
                    width: 440px;
                    margin-right: 20px;

                    input {
                        width: 100%;
                    }
                }

                input {
                    width: 133px;
                }
            }
        }

        &:last-child {
            input {
                width: 133px;
            }
        }

        .radio-buttons {
            text-align: left;
        }

        .radio-buttons input[type=radio].css-checkbox + label.css-label {
            display: block;
            margin-bottom: 10px;
        }
    }
}

.online-fill-step4 {
    .form-box {
        background-color: #f0f1f2;
        padding: 0 20px;
        .box{
            float: left;
        }
        &.first{
            padding-bottom: 40px;
            margin-bottom: 10px;
            .box{
                width: 440px;
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .form-control:nth-child(3){
                .box{
                    &:last-child{
                        width: 220px;
                    }
                }
            }
        }
        &.second{
           padding-bottom: 35px;
            margin-bottom: 35px;

            .form-control {
                &:nth-of-type(2) {
                    .box {
                        width: 440px;
                    }
                }

                &:nth-of-type(3) {
                    .box {
                        position: relative;

                        input {
                            width: 220px;
                            float: left;
                        }

                        span {
                            font-weight: 700;
                            font-size: 24px;
                            float: left;
                            line-height: 54px;
                            padding-left: 20px;
                        }
                    }
                }

                &:nth-of-type(4) {
                    .box:first-child {
                        width: 440px;
                        margin-right: 20px;
                    }

                    .box {
                        width: 133px;
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
                &:last-child{
                    .box{
                            
                        input{
                            width: 133px;
                        }
                        position: relative;
                    }
                    span{
                            display: block;
                        position: absolute;
                        top: 25px;
                        line-height: 50px;
                        left: 140px;
                    }
                }
            }
        }
    }
}
.online-fill-step5{
    .form-box{
        background-color: #f0f1f2;
        padding: 0 20px;
    }
    .first, .second, .third, .fourth{
        margin-bottom: 10px;
    }
    .row{
        float: left;
        .box{
            float: left;
            width: 225px;
            font-size: 14px;
            margin-bottom: 33px;
        }
        span{
            display: block;
            padding-top: 10px;
            font-size: 18px;
            font-weight: 700;
        }
    }
    .checkbox{
        margin-bottom: 50px;
        font-size: 14px;
        line-height: 20px;
        a{
            font-weight: bold;
        }
    }
    .fourth{
        padding-bottom: 90px;
        margin-bottom: 80px;
        position: relative;
    }
    .cant{
        padding: 13px 60px 0 0;
        width: 660px;
        height: 64px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: -32px;
        position: absolute;
        text-align: center;
        font-weight: bold;
        background: #fff url('../images/base/mail.png') no-repeat right 24px center;
    }
}