/* Buttons */
.btn-blue {
    color: #fff;
    border-radius: 8px;
    text-align: center;
    background-color: #007ac3;
    font-weight: 700;
    display: block;
    width: 200px;
    height: 60px;
    line-height: 60px;

    @include transition-all;

    &:hover {
        background-color: #28a1e9;
    }
}

.btn-ghost {
    display: block;
    width: 118px;
    height: 60px;
    line-height: 60px;
    border-radius: 8px;
    background: #fff url("../images/base/back-icon.png") no-repeat top 25px left 28px;
    border: solid 1px #cecece;
    color: #007ac3;
    text-align: center;
    position: absolute;
    bottom: 42px;
    padding-left: 10px;
    
    @include transition-all;

    &:hover {
        background-color: #ebf1f4;;
    }
}