@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 970px) {
    .prizes, .little-ones {
        display: none;
    }

    .sliders {
        padding: 0 20px;
    }

    .online-fill .form-box.first .form-control {
        float: none;
    }

    .online-fill .form-box.first .box, .online-fill .form-box.second .box {
        float: none;
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 10px;
    }

    .online-fill .form-box.second {
        .info-popup .popup {
            right: 0;
        }
    }

    .online-fill .form-box.third {
        .info-popup a {
            position: static;
            margin: 10px auto;
        }
    }

    .online-fill .form-box.third .popup {
        left: 0;
        right: 0 !important;
        margin: 0 auto;
        bottom: 35px !important;

        &:after {
            right: 0;
            left: 0;
            margin: 0 auto;
        }
    }

    .online-fill-step2 .form-box.first {
        padding-bottom: 25px;
    }

    .online-fill-step2 .form-box.first .form-control:nth-of-type(4) .box, .hidden .box, .online-fill-step4 .form-box.second .form-control:nth-of-type(4) .box {
        margin-bottom: 10px;
    }

    .online-fill-step2 .form-box.second .form-control .box {
        margin-bottom: 10px;
    }

    .online-fill-step3 .box {
        width: 100% !important;
        float: none !important;
        margin-bottom: 25px;
    }

    .online-fill-step3 .form-control:first-child .box:first-child .radio-buttons label {
        margin-bottom: 30px !important;
    }

    .online-fill-step3 .form-box {
        padding: 20px 10px 40px;
    }

    .online-fill-step35 .form-control .box {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .online-fill-step35 .form-control:first-child .box:last-child input {
        width: 133px;
    }

    .online-fill-step35 .form-control > div .info-popup a {
        position: static;
        margin-top: 10px;
    }

    .online-fill-step35 .form-control > div .popup {
        right: auto;
        left: -10px;
    }

    .online-fill-step35 .popup:after {
        right: auto;
        left: 9px;
    }

    .online-fill-step35 .form-box {
        padding: 20px 10px 40px;
    }
}

@media only screen and (max-width: 962px) {
    .phone-fill .form-box.second .box:last-child {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .form-control .left, .form-control .right {
        width: 100%;
        float: none;
    }

    .form-control .left, .form-control .right {
        padding: 0;
        margin-bottom: 10px;
    }

    .index form h2:after {
        display: none;
    }

    .index .checkbox p {
        padding-right: 33px;
    }

    .index .login-mode h2 {
        padding: 23px 0 25px;
    }

    .index .login-mode .fill {
        width: 100%;
        float: none;
        padding: 0;
    }

    .index .login-mode .fill.phone {
        margin-bottom: 45px;
    }

    .index .login-mode .fill.phone:after {
        display: none;
    }

    .index .login-mode {
        padding-bottom: 50px;
    }

    .index .login-mode footer {
        padding: 0;
    }

    .index form {
        padding: 40px 10px 20px;
    }

    .phone-fill h2, .o-fix {
        padding: 0;
    }

    .form-box {
        padding: 0 10px;
    }

    .phone-fill .form-box.first .box, .phone-fill .form-box.second .box {
        width: 100% !important;
        float: none !important;
    }

    .phone-fill .form-box.second .box:last-child {
        margin-left: 0;
    }

    .form-box-title {
        margin: 0 -10px 20px;
        padding: 13.5px 10px;
        text-align: center;
    }

    .phone-fill .checkbox label {
        margin-bottom: 100px;
    }

    .form-title-blue {
        height: auto;
        padding-bottom: 10px;
    }

    .help {
        position: static;
        margin: 0 auto;
    }

    .phone-fill-step2 .row, .online-fill-step5 .row {
        float: none;
    }

    .phone-fill-step2 .row .box, .online-fill-step5 .row .box {
        float: none;
        width: 100%;
        text-align: center;
    }

    .phone-fill-end h3, .online-fill-end h3 {
        line-height: 50px;
        padding-top: 30px;
        text-align: center;
    }

    .phone-fill-end, .online-fill-end {
        padding: 0 0 79px;

        p {
            text-align: center;
        }
    }

    .phone-fill {
        .radio-buttons {
            text-align: left;
        }
    }

    .navigation.online {
        width: 590px;

        li {
            margin-right: 136px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .online-fill-step2 .form-box.first .box, .hidden .box, .online-fill-step4 .form-box.second .box {
        float: none;
        width: 100% !important;
    }

    .online-fill-step2 .form-box.first .form-control:nth-of-type(3) .box input, .hidden .form-control:nth-child(2) .box input, .online-fill-step4 .form-box.second .form-control:nth-of-type(3) .box input {
        float: none !important;
        width: 100% !important;
    }

    .online-fill-step2 .form-box.first .form-control:nth-of-type(3) .box span, .hidden .form-control:nth-child(2) .box span, .online-fill-step4 .form-box.second .form-control:nth-of-type(3) .box span {
        float: none !important;
        padding-left: 0 !important;
    }

    .online-fill-step2 .form-box.second .form-control .box {
        float: none;
        width: 100%;
    }

    .navigation {
        margin-top: 40px;
    }

    .online-fill-step4 .form-box.first .box {
        float: none;
        width: 100%;
        margin: 0 0 10px;
    }
}

@media only screen and (max-width: 640px) {
    .phone-fill .checkbox label {
        margin-bottom: 125px;
    }

    .navigation.online {
        width: 265px;

        li {
            margin-right: 55px;
        }
    }
}

@media only screen and (max-width: 560px) {
    .phone-fill-step2 .cant, .online-fill-step5 .cant {
        background: #fff;
        padding-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    .index .top-box .title {
        height: auto;
        max-width: 100%;
        line-height: 38px;
        padding: 20px 0;
    }

    .index form h2 {
        line-height: 28px;
    }

    .phone-fill .checkbox label {
        margin-bottom: 160px;
    }

    .btn-ghost {
        position: static;
        margin: 0 auto 20px;
    }

    .online-fill-step2 .form-box.second > .checkbox {
        margin-bottom: 30px;
    }

    .online-fill-end .container > a {
        padding: 20.5px 0;
        background: #007ac3;
    }
}

@media only screen and (max-width: 425px) {
    .index .checkbox p {
        margin-top: 15px;
    }

    .phone-fill-step2 .third, .online-fill-step5 .fourth {
        padding-bottom: 120px;
    }
}

@media only screen and (max-width: 375px) {
    .phone-fill .checkbox label {
        margin-bottom: 210px;
    }
}

@media only screen and (max-width: 320px) {
    .phone-fill .checkbox label {
        margin-bottom: 270px;
    }

    .phone-fill-step2 .third, .online-fill-step5 .fourth {
        padding-bottom: 160px;
    }

    .phone-fill {
        label {
            display: block !important;
            margin-bottom: 10px;
        }
    }

    .online-fill-step2 .form-box.second > .checkbox {
        margin-bottom: 45px;
    }

    .form-title-blue {
        font-size: 28px;
    }
}